@import url("https://fonts.googleapis.com/css?family=Share:400,400i,700,700i&display=swap&subset=latin-ext");

$fontFamily: "Share", cursive;

$backgroundColor: #fdfdfd;
$trackColor: rgba(0, 0, 0, 0.205);

$padding: 1rem;